<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      #Caacupetqv
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="success">
    <ion-button color="success">Visión</ion-button>
    <ion-button color="success">Misión</ion-button>
    <ion-button color="success">Contactos</ion-button>
  </ion-toolbar>  

  <ion-searchbar showCancelButton="never">Buscar</ion-searchbar>

<!-- List of Sliding Items -->
<ion-list>
  <ion-item>
    <ion-label>planta1</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>planta2</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>planta3</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>planta4</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>planta5</ion-label>
  </ion-item>
</ion-list>
 
</ion-content>


