<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Caacupe te quiero verde
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
import { Component } from '@angular/core';
import {Validators, FormBuilder, FormGroup } from '@angular/forms';
@Component({
  template: `
    <form [formGroup]="todo" (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Todo</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <button ion-button type="submit" [disabled]="!todo.valid">Submit</button>
    </form>
  `
})
</ion-content> -->

<ion-footer>
  <ion-toolbar color="success">

  </ion-toolbar>
</ion-footer>
